h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
td {
    padding: 0.1em 0.5em 0.1em 0.5em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    font-size: small;
    text-align: center;
}
