<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/main.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<title>Die nächsten Züge</title>
</head>
<body>
    <h1>Die nächsten Züge von/nach {{ .NextStation }}</h1>
    <h2>Ankunfts- und Abfahrtszeiten beziehen sich auf {{ .TrainStation }}</h2>
    <table>
        {{ range .Trains }}
        <tr>
            <td>
                <img src="static/{{ if .IsArrival }}arrival.png{{ else }}departure.png{{ end }}" style="width:64px;height:64px;" alt="{{ if .IsArrival }}This is an arrival.{{ else }}This is a departure.{{ end }}">
            </td>
            <td>
                <b>
                {{ .Time }}
                </b>
            </td>
            <td>
                {{ .Path }}
            </td>
        </tr>
        {{ end }}
    </table>
	<footer>
        Daten werden aus der <a href="https://developers.deutschebahn.com">DB API</a> bezogen.<br>
        Geschrieben in <a href="https://go.dev/">Go</a>. Hier geht's zum <a href="https://codeberg.org/rluetzner/train-bridge">Quellcode</a>.<br>
        <a href="https://www.flaticon.com/free-icons/train" title="train icons">Train icons created by Freepik - Flaticon</a><br>
        <a href="https://www.flaticon.com/free-icons/tunnel" title="tunnel icons">Tunnel icons created by Good Ware - Flaticon</a><br>
        <a href="https://www.iconsdb.com/black-icons/arrow-up-4-icon.html" title="arrow icon">Arrow icon created by iconsDB.com</a>
    </footer>
</body>
</html>
